<%- include('partials/header') %>

<main class="container py-5">

   <% if (event.image) { %>
    <img src="<%= event.image %>" alt="<%= event.title %>" class="img-fluid mb-4">
  <% } %>
  <h1><%= event.title %></h1>
  <p class="text-muted">ะะฐัะตะณะพัะธั: <%= event.tag %></p>
  <p>๐ <%= event.location %></p>
  <p>๐ <%= event.date %></p>
</main>

<%- include('partials/footer') %>
